<div class="jumbotron">
  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
  <h1>Welcome to PairBnB</h1>
  <p>We're like AirBnB, but worse.</p>
	<div class="row">
   	<div class="col-lg-12">
	    <div class="input-group input-group-lg">
	      <input type="text" class="form-control input-lg" id="search" placeholder="Where do you want to go?">
	      <span class="input-group-btn">
	        <button class="btn btn-primary btn-lg" type="submit">Search</button>
	      </span>
	    </div> <!-- input group -->
	  </div> <!-- col -->
	</div> <!-- row -->
</div>